label {
    display: block;
    margin-top: 5px;
}

textarea {
    width: 280px;
    height: 100px;
}

div.buttons {
    margin-top: 10px;
}

#map {
    height: 500px;
    width: 100%;
}

#map img {
    max-width: none;
}